.banner {
    padding-top: 130px;
    padding-bottom: 80px;
    background-color: #1921330e !important;
}

.image-product {
    height: 200px !important;
    object-fit: contain;
}

.logo-mitra {
    width: 150px;
}

.btn-keranjang {
    background-color: white !important;
    color: rgb(0, 0, 102) !important;
    border-color: rgb(0, 0, 102) !important;
    width: 160px
}